
* {
    box-sizing: border-box;
  }


body {
    background-color: #3a3a3a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
  }

#ausgabe_wahl{
  line-height: 1.8;
  text-align: center;
  margin : 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.multi-container {
  margin: 1.2rem 0 0 0;
}

.fade{
  opacity: 0;
  animation: fadein 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
.multi-container select {
  
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 400px;
  max-width: 450px;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 15px rgba(255, 255, 255, 0.7);
}
.screen img {
  height: 120px;
  width: 400px;
  max-width: 450px;
  
}

.container{
  perspective: 50rem;
  margin-bottom: 1rem;
  /* border: 2px solid red; */
        
}

#seats{
  margin-bottom: 2rem;
}

.seat {
  background-color: #95959e;
  height: 25px;
  width: 30px;
  margin: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.seat.selected {
  background-color: #0ad61b;
}

.seat.occupied {
  background-color: #fff;
}

.seat.blocked {
  background-color: rgb(195, 10, 10);
}

.row {
  display: flex;
}

.seat.selected:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}
.btn-auswahl {
  margin-top: 0.5rem;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
}
.btn-clear{
  margin-top: 0.5rem;
  background-color:rgb(195, 10, 10);
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px 10px 20px;

}

p.text span {
  color: #0ad61b;
}

.alert_aktiv{
  display:block;
}
  
.alert_passiv{
  display:none;
}
#alert{
  width:100vw;
  margin:auto;
  text-align:center;
  height:100%;
  background:rgba(53, 53, 53, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding:2rem;
  position:absolute;
  z-index:100;
  top:0;
  left:0;
  color:rgb(5, 5, 5);
}

#alert div{
  background:white;
  width:50vw;
  border-radius: 5px;
  padding: 1rem;
  margin: 25%;
}
#alert h3, button{
  margin: 0;
}

.final_aktiv{
  display:block;
}
  
.final_passiv{
  display:none;
}

#final{
  width:100vw;
  margin:auto;
  text-align:center;
  height:100%;
  background:rgba(255, 177, 177, 0.7);
  backdrop-filter: blur(3px);
  padding:3rem;
  position:absolute;
  z-index:100;
  top:0;
  left:0;
  color:rgb(5, 5, 5);
}



#final h2, #final h3{
  width:60vw;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-bottom: 0.5rem;
}

#final p{
  width:420px;
  text-align:left;
  margin:auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
}

.reservausgabe{
  width:420px;
  text-align:left;
  margin:auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;


}
.reserv{
  float: left;
  text-align: right;
  padding-right: 0.5rem;
  width: 50%;
}

#final span{
  color:white;
}

.person{
  margin: 0.5rem;

}

input[type=range] {
  width: 7rem;
}

#graph{

  width: 420px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  /* background-color: white; */
}
#cinema{
  width: 420px;
  border-radius: 5px;
  /* border: 1px solid grey; */
}